body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #007acc; /* Azul pastel */
}

header img {
    height: 100px;
}
main {
    margin: 2rem;
    text-align: center;
}
button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.opciones {
    background-color: #007BFF;
    color: white;
}
button.salir {
    background-color: #6C757D;
    color: white;
}